*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

.container{
    width: 100%;
    max-width: 1536px;
    height: 745px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    width: 1519px;
    height: 100px;
    top: 0;
    background-color: rgba(112, 112, 112, 0.204);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.link{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.link a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.link a:hover{
    text-decoration: underline;
    color: #333;
    transition: 0.4s;
}

.btn1 button{
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn1 button:hover{
    background-color: #333;
    color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 1px #333;
}

h1{
    width: 1519px;
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    margin-top: 100px;
}

.video{
    width: 560px;
    margin: 0 auto;
    margin-top: 40px;
}

h2{
    text-align: center;
    padding: 40px;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.main6{
    position: relative;
    width: 1519px;
    height: 400px;
    background: #363738;
    border-radius: 0 100px 0 0;
    display: flex;
    justify-content: space-between;
}

h4{
    font-size: 25px;
    color: #999;
    margin-bottom: 10px;
}

.logo2{
    position: relative;
    margin-top: 18px;
    margin-left: 18px;
}

.menu{
    position: relative;
    margin-top: 18px;
}

.site{
    margin-right: 150px;
    position: relative;
    margin-top: 18px;
}

.logo2 img{
    width: 250px;
    height: 100px;
}

.main6 a{
    text-decoration: none;
    display: grid;
    color: #fff;
    padding: 2px 0;
}

.main6 a:hover{
    text-decoration: underline;
    color: #999;
}

.text7{
    margin-left: -25px;
}

i{
    margin-top: -20px;
    margin-left: -25px;
}