*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira';
}

.container{
    width: 100%;
    height: 150vh;
    max-width: 1300px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    width: 1300px;
    height: 100px;
    top: 0;
    background-color: rgba(112, 112, 112, 0.204);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.link{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.link a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.link a:hover{
    text-decoration: underline;
    color: #333;
    transition: 0.4s;
}

.btn1 button{
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn1 button:hover{
    background-color: #333;
    color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 1px #333;
}

.main1{
    width: 1300px;
    height: 750px;
    margin: 50px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0.645)), url(image/FON.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.man{
    color: #fff;
    width: 500px;
    text-align: center;
}

.woman{
    color: #fff;
    width: 500px;
    text-align: center;
}

.subject{
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 3.5px;
    width: 100%;
}

.text{
    font-size: 18px;
    line-height: 35px;
    word-spacing: 2px;
    padding-top: 40px;
}

.subject2{
    text-align: center;
    color: #333;
    word-spacing: 20px;
    font-weight: 700;
    padding-top: 45px;
}

.main2{
    width: 1300px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 300px;
    height: 580px;
    background-color: #EBEEEF;
    border: #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}


.sub1{
    text-align: center;
}

.text2{
    text-align: center;
    padding: 25px 20px;
    line-height: 20px;
}

.panama{
    width: 275px;
    height: 275px;
    margin-left: 15px;
}

.box a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.box a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 35px;
}

.main3{
    width: 1300px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1{
    width: 300px;
    height: 630px;
    background-color: #fff;
    border: #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;;
    border-radius: 15px;
}

.box1 img{
    margin-top: 50px;
    width: 200px;
    height: 300px;
}

.box1 img{
    width: 300px;
    height: 300px;
}

.box1 a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.box1 a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 35px;
}

.box2{
    width: 330px;
    height: 600px;
    margin-top: 120px;
    background-color: #fff;
    border: #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.main4{
    width: 1300px;
    height: 2200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box2 img{
    width: 300px;
    height: 290px;
    margin-left: 20px;
}

.box2 a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 60px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.box2 a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 50px;
}

.space{
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.main5{
    width: 1300px;
    height: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box4{
    width: 350px;
    height: 600px;
    margin-top: 120px;
    background-color: #fff;
    border: #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.box4 img{
    width: 300px;
    height: 300px;
    margin-left: 25px;
} 

.box5{
    width: 350px;
    height: 600px;
    margin-top: -700px;
    background-color: #fff;
    border: #333;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.box5 img{
    width: 300px;
    height: 300px;
    margin-left: 25px;
}

.card1{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3{
    width: 350px;
    margin-top: -150px;
    font-size: 50px;
    text-align: center;
    color:#333;

}

.card2{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box4 a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 60px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.box4 a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 60px;
}

.box5 a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 60px;
    box-shadow: 1px 1px 5px 1px #999;
}

.box5 a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 60px;
}

.main6{
    position: relative;
    width: 1300px;
    height: 400px;
    background: #363738;
    border-radius: 0 100px 0 0;
    display: flex;
    justify-content: space-between;
}

h4{
    font-size: 25px;
    color: #999;
    margin-bottom: 10px;
}

.logo2{
    position: relative;
    margin-top: 18px;
}

.menu{
    position: relative;
    margin-top: 18px;
}

.site{
    margin-right: 150px;
    position: relative;
    margin-top: 18px;
}

.logo2 img{
    width: 250px;
    height: 100px;
}

.main6 a{
    text-decoration: none;
    display: grid;
    color: #fff;
    padding: 2px 0;
}

.main6 a:hover{
    text-decoration: underline;
    color: #999;
}

.text7{
    margin-left: -25px;
}

i{
    margin-top: -20px;
    margin-left: -25px;
}