*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 150vh;
    max-width: 1300px;
    margin: 0 auto;
}

.nav{
    position: fixed;
    width: 1300px;
    height: 100px;
    top: 0;
    background-color: rgba(112, 112, 112, 0.204);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 60px;
    height: 60px;
    margin-left: 50px;
}

.link{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.link a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.link a:hover{
    text-decoration: underline;
    color: #333;
    transition: 0.4s;
}

.btn1 button{
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 50px;
    box-shadow: 1px 1px 3px 1px #5B5B5B;
}

.btn1 button:hover{
    background-color: #333;
    color: #fff;
    transition: 0.4s;
    box-shadow: 1px 1px 5px 1px #333;
}

.main1{
    width: 1300px;
    height: 750px;
    margin: 50px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.645), rgba(0, 0, 0, 0.645)), url(image/FON.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1300px 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.man{
    color: #fff;
    width: 500px;
    text-align: center;
}

.woman{
    color: #fff;
    width: 500px;
    text-align: center;
}

.subject{
    font-size: 33px;
}

.text{
    font-size: 18px;
    line-height: 35px;
    word-spacing: 2px;
    padding-top: 40px;
}

.subject2{
    text-align: center;
    color: #333;
    word-spacing: 20px;
    font-weight: 700;
    padding-top: 45px;
}

.main2{
    width: 1300px;
    height: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 300px;
    height: 500px;
    background-color: #EBEEEF;
    border: #333;
    box-shadow: 1px 1px 15px 1px #333;
    border-radius: 15px;
}

.sub1{
    text-align: center;
}

.text2{
    text-align: center;
    padding: 25px 20px;
    line-height: 20px;
}

.panama{
    width: 275px;
    height: 275px;
    margin: 0 auto;
}

.box a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 40px;
    box-shadow: 1px 1px 5px 1px #999;
}

.box a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #333;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 40px;
}

.main3{
    width: 1300px;
    height: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box1{
    width: 330px;
    height: 600px;
    margin-top: 120px;
    background-color: #fff;
    border: #333;
    box-shadow: 1px 1px 15px 1px #333;
    border-radius: 15px;
}

.box1 img{
    width: 300px;
    height: 290px;
}

.box1 a{
    margin-left: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 10px 60px;
    box-shadow: 1px 1px 5px 1px #999;
}

.box1 a:hover{
    font-size: 20px;
    color: #333;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px #333;
    transition: 0.5s;
    padding: 10px 75px;
    margin-left: 55px;
}