*{
    margin: 0;
    padding: 0;

}
.main1{
    background: linear-gradient(to right, rgb(1, 1, 1),rgb(41, 41, 42), rgb(0, 0, 0));
    padding: 30px;}

h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.main2{
    background-image: url(David_Laid_BannersNAM_Desktop_1900x.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.list{
    border: 10px solid #fff;
    border-radius: 50px;
    width: 38%;
    margin-left: 100px;
    margin: 30px auto;
}

label{
    font-size: 30px;
    color: #fff;
    margin-left:80px ;
}

input{
    margin-left: 80px;
    margin-top: 10px;
}

.main2 input{
    width: 400px;
    padding: 15px;
}   

button{
    padding: 20px 60px;
    border-radius: 30px;
    background-color:#fff;
    color: red;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 200px;
    font-family: sans-serif;
}

button:hover{
    background-color: rgb(40, 36, 36);
    color: #fff;
    font-size:30px ;
    transition: 0.5s;
}

a{
    text-decoration: none;
    font-size: 40px;
    color: black;
}

a:hover{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    transition: 0.5s;
}


